<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Verification Code</title>
    <style>
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #ffffff;
        padding: 24px;
        color: #ea4468;
        align-items: center;
        justify-content: center;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      .code {
        font-size: 32px;
        font-weight: bold;
        color: #000;
        letter-spacing: 5px;
        margin: 20px 0;
        padding: 10px;
        background-color: #f4f4f4;
        border-radius: 4px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Your Verification Code</h1>
      </div>
      <div class="email-body">
        <p>Welcome <%= email %>,</p>
        <p>
          Thank you for registering. Please use the following 6-digit code to
          complete your verification:
        </p>

        <div class="code"><%= otp %></div>

        <p>
          This code will expire in 5 minutes. If you did not request this,
          please ignore this email.
        </p>
      </div>
      <div class="footer">
        <p>
          If you have any questions, please don't hesitate to contact "Web name"
          at <a href="mailto:support@webname.com.au">support@webname.com.au</a>
        </p>
        <p>&copy; Book Reading Project</p>
      </div>
    </div>
  </body>
</html>
